<a
  href="/"
  class="flex items-center space-x-3 group text-black dark:text-white"
>
  <!-- Logo circulaire -->
  <img
    src="/assets/images/fav.png"
    alt="Logo"
    class="w-8 h-8 rounded-full group-hover:scale-110 transition-transform duration-300"
  />

  <!-- Texte -->
  <div class="leading-tight">
    <p class="text-base font-bold tracking-tight">Yessine</p>
    <p class="text-sm font-medium text-gray-600 dark:text-gray-300 -mt-1">Eleuchi</p>
  </div>
</a>
